body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	background-color:#f32938;
	color: #ed949b;
}

h1 {
	float: left;
	display:block;
	margin-bottom:0rem;
}

h2 {
	font-size: 1.25rem;
	margin-bottom: 0em;
}

h3 {
	font-size: 1rem;
	margin-top: 0rem;
}

li {
	font-size: .75rem;
	list-style: none;
	font-weight: 300;
	line-height: .90rem;
	margin-right: 0rem;
	padding-right: 0rem
}

ul {
	padding-left: 1.5rem;
	margin-top:.0rem;
}

#clear {
	clear: both;
}

.email {
	font-size:10px;
	line-height: .5;
	float:right;
	display:block;
	margin-top: 1.75rem;
	font-weight: 300;
}

.sectionleft {
	float: left;
	width:50%;
}

.address {
	font-size:11px;
	color: #ed949b;
	text-align: center;
}

.line {
	border: 1px solid black;
	border-color: #ed949b
}

.education {
	float:left;
}

.education_image {
	float: left;
	height: 50px;
	width: 50px;
	margin-right: 1em;
}

#date {
	font-weight: 300;
}

.info {
		font-size: .75rem;
		list-style: none;
		font-weight: 300;
		line-height: .90rem;
		margin: 0rem 0rem 0rem 0rem;
		padding: 0rem 0rem 0rem 0rem;
}

